@import "footer.scss";


@media only screen and (min-width : 1650px) {
	.pager_cust{
		right: 5%;
	}
}
@media only screen and (min-width : 1515px){
	.slider_holder_bef{
		margin: 0 auto;
	}
	.watch_before{
		.pager_cust{
			right: 10% !important;
		}
	}
	.banner{
		text-align: center;
	}
}

@media only screen and (max-width : 1402px) {
	.slider_holder{
		max-width:855px;
	}
}

@media only screen and (max-width : 1317px) {
	.up_header .info_menu ul>li{
		margin: 0 2.5% 0 0;
	}
}

@media only screen and (max-width : 1250px) {
	.item_title .details>ul{
		>li:last-child{
			display:block;
			padding:0;
			margin: 5px 0 0;
		}
		>li:nth-child(2){
			border: none;
		}
		>li:last-child .rating{
			padding:0 10px 0 0;
		}
		>li:last-child a{
			float:left;
		}
	}
	.price{
		.clearfix>div:last-child{
		    padding: 0 0 0 4%;
		}
		.clearfix>div:first-child{
			width: 46%;
		}
	}
	.slider_holder_bef {
	    max-width: 784px;
	    margin: 0 auto;
	    li{
	    	margin: 0 50px 0 0;
	    }
	}
	.banner{
		text-align: center;
	}
}

@media only screen and (max-width : 1207px){
	.item_options{
		.clearfix>.left{
			.tooltip_holder{
				input{
					right: -5px;
					font-size: 10px;
				}
			}
		}
	}
	.watch a span:last-child{
		padding:0 0 0 5px;
	}
}
@media only screen and (max-width : 1100px) {
	.up_header .info_menu ul>li{
		margin: 0 1% 0 0;
	}
	.bottom_header>div{
		flex-grow: 0;
	}
	.sign{
		width: 53%;
	}
	.watch a{
		min-width: 60px;
		padding:0;
	}
	.watch a span:last-child{
		display:none;
	}
	.tabs_holder ul.tabs_list>li{
		margin:0 !important; 
	}
	.price{
		.clearfix>div:last-child{
		    padding: 0 0 0 0%;
		    width: 37%;
		}
		.clearfix>div:first-child{
			width: 50%;
		}
	}
}

@media only screen and (max-width : 1077px) {
	.header_holder{
		width:100%;
	}
	.up_header .info_menu{
		width: 48%;
		padding: 0 0 0 2%;
	}
	.call{
		width: 48%;
		padding: 0 2% 0 0;
	}
	.container .left{
		width: 40%;
	}
	.container .right{
		width: 50%;
	}
	.item_info{
		padding: 2% 0 0 4%;
	}
	.price .clearfix>div:first-child{
	    padding: 0 0 0 4%;
	    width:60%;
	}
	.price .clearfix>div:last-child{
		width:30%;
	}
	.item_options .clearfix>.left{
		width:50%;
	}
	.links ul{
		max-width:300px;
		margin:0 auto;
		li{
			flex-grow:1 !important;
			border-right: 1px solid $grey;
		}
		>li:last-child{
			border:none;
		}
		li span:first-child{
			display:none;
		}
		li span:last-child{
			display:inline-block;
		}
		li span:last-child:before{
			display: none;
		}
		li:first-child>a>span:last-child{
			width: 34px;
			height:42px;
			background: url($sprite) no-repeat -50px -147px no-repeat;
		}
		li:nth-child(2)>a>span:last-child{
			width: 44px;
			height:40px;
			background: url($sprite) no-repeat -46px -104px no-repeat;
		}
		li:last-child>a>span:last-child{
			width: 34px;
			height:42px;
			background: url($sprite) no-repeat -50px -195px no-repeat;
		}
	}
	.tabs_holder ul.tabs_list>li>a{
		font-size:30px;
	}
}

@media only screen and (max-width : 1050px) {
	.slider_holder{
		max-width: 570px;
	}
}

@media only screen and (max-width : 1000px) {
	.price .clearfix>div:first-child{
		width:96%;
		float:none;
		margin: 0 0 3%;
		.delivery_time p{
			text-align: center;
		}
	}
	.price .clearfix>div:last-child{
		float:none;
		width:96%;
		padding:0 0 0 4%;
		text-align:center;
		div:first-child{
			margin: 0 auto 4%;
		}
		div:last-child{
			margin: 0 auto;
			text-align: center;
		}
	}
}
@media only screen and (max-width : 935px){
	.up_header .info_menu ul>li a{
		letter-spacing:0;
	}
	.up_header .info_menu ul>li{
		margin:0;
	}
}

@media only screen and (max-width : 930px) {
	.container .left{
		width:50%;
	}
	.container .right{
		width:40%;
	}
	.item_options .clearfix>.left{
		width:100%;
		float:none;
	}
	.item_options .clearfix>.right{
		width:100% !important;
		float:none;
	}
	.item_options .clearfix>.left .tooltip_holder input{
		right: 0;
	}
	.slider_holder_bef{
		max-width:560px;
	}
	.slider_holder_bef li{
		max-width: 280px;
		margin: 0 3px 0 0;
	}
	.price .clearfix>div:last-child div:first-child span{
		font-size:28px;
	}
	.tabs_holder ul.tabs_list>li>a{
		font-size: 27px;
	    padding: 5px 2.5%!important;
	    border-width: 2px !important;
	}
	.white_bg div.tabs_holder ul li.ui-state-hover a{
		border-width: 2px !important;	
	}
	.white_bg div.tabs_holder ul .ui-state-active.ui-state-hover a{
		border: 2px solid $orange !important;
	}

}
@media only screen and (min-width : 785px){
	.up_header .info_menu ul{
		display:block !important;
	}
	.main_menu ul,
	.search_holder{
		display:flex !important;
	}
	.none{
		display:none;
	}
}

@media only screen and (max-width : 785px) {
	body,.phone_select,.up_header .info_menu ul>li,
	.price .clearfix>div:last-child div:last-child a,
	.info_menu>.mobile>span{
		font-size:24px;
	}
	.price .clearfix>div:first-child .price_count .old,
	.price .clearfix>div:first-child .price_count div:last-child span,
	.spinner_cust.ui-spinner-input,
	.item_options .right .measurement_btn span,
	.price .clearfix>div:first-child .delivery_time p,
	select,label,p,*::placeholder,.main_menu ul li a, .watch a span,
	.item_title .details>ul>li span,
	.item_title .details>ul>li:last-child a{
		font-size:28px !important;
	}
	div.slider_holder div.sl_desc .price_sl,
	.slider_holder_bef li .desc_sl .price_sl{
		font-size:34px !important;
	}
	div.slider_holder div.sl_desc .price_sl span,
	.slider_holder_bef li .desc_sl .price_sl span{
		font-size:28px !important;
	}
	.price .clearfix>div:first-child .price_count .total{
		font-size:48px;
	}
	.item_title h1,
	h2{
		font-size:44px;
	}
	.ui-tooltip{
		font-size:20px !important;
	}
	input{
		font-size:32px;
	}
	.bottom_header{
		position:relative;
		padding:120px 0 0;
		height:100px;
	}
	.bottom_header>div{
		flex-grow:1 !important;
		min-width:64px !important;
		border-right:1px solid #ffab33;
	}
	.bottom_header>div:first-child,
	.bottom_header>div:last-child{
		border:none;
	}
	.logo_holder{
		position:absolute;
		left:50%;
		top:0px;
		margin:0 0 0 -157px;
		a{
			background: url(../images/logo_mob.jpg) !important;
			img{
				width:314px;
				max-width:314px;
				opacity:0;
			}
		}
	}
	.tabs_holder{
		display:none;
	}
	.phone_select{
		position:relative;
	}
	.phone_select:after{
		content:'';
		width:1px;
		height:36px;
		background: $grey;
		position:absolute;
		top:-4px;
		right:0;
	}
	.search_holder button{
		width:36px;
		height:36px;
		background: url($sprite) no-repeat -1px -281px;
		opacity:0.6;
	}
	.watch_icon{
		width:34px;
		height:44px;
		background-position: -1px -187px;
	}
	.main_menu ul{
		display:block;
		flex-wrap: nowrap ;
		position:absolute;
		top:100%;
		left:0;
		background: $orange;
		z-index:10;
		display:none;
			li{
				display:block;
				flex-grow:0 !important;
				height:auto;
				border-bottom:2px solid #fff;
			}
		li:last-child{
			border:none;
		}
	}
	.phone_select ul{
		width:90%;
		margin:0;
	}
	.main_menu>.mobile{
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		cursor:pointer;
		background: #293894;
		width:100%;
	}
	.item_title .details>ul>li{
		padding:0;
		border:none; 
	}
	.main_menu>.mobile>span{
		display:block;
		width:40px;
		height:2px;
		background:#fff;
	}
	.main_menu>.mobile>span:nth-child(2){
		margin:7% 0;
	}
	.basket a span{
		width:39px;
		height:45px;
		background-position: -1px -233px;
	}
	.up_header{
		position:relative;
		display:flex;
	}
	.call{
		flex-grow:2;
		width:auto;
		padding:0;
		display:flex;
		align-items:center;
	}
	.up_header .info_menu{
		flex-grow:1;
		flex-basis:100px;
		// width:180px;
		position:relative;
		vertical-align:middle;
		display:flex;
		align-items:center;
		border-right: 1px solid $grey;
	}
	.up_header .info_menu ul>li{
		display:block;
		text-align:center;
		padding:3% 0;
		border-bottom: 3px solid #fff;
	}
	.up_header .info_menu ul{
		position:absolute;
		left:0;
		top:100%;
		width:100%;
		z-index:10;
		background: #f7f7f7;
		display:none;
	}
	.info_menu>.mobile,
	.else_cust{
		display:inline-block !important;
		background-size:auto !important;
		background-position: 97% 101.5% !important;
		padding-right: 30px !important;
		padding-top:0;
	}
	// .search{
	// 	position:relative;
	// }
	.search_holder{
		position:absolute;
		top:100%;
		right:0;
		background:$orange;
		width:100%;
		min-width: 350px;
		padding:5%;
		width:90%;
		z-index:10;
		display:none;
	}
	.watch a,
	.basket{
		background: $orange;
	}
	.log_in_mobile{
		display:flex !important;
		background: $orange;
		a{
			display:flex;
			flex-wrap:wrap;
			align-items: center;
			justify-content:center;
			width:100%;
			span{
				display:inline-block;
				background: url($sprite) no-repeat -1px -141px;
				width: 29px;
				height:44px;
			}
		}
	}
	.search>.mobile{
		display:flex;
		align-items:center;
		justify-content:center;
		cursor:pointer;
	    min-width: 80px;
	    width:100%;
	}
	.search>.mobile>span{
		display:inline-block;
		width:37px;
		height:37px;
		background: url($sprite) no-repeat -1px -281px;
		vertical-align:middle;
	}
	.breadcrumbs{
		display:none;
	}
	select{
		background-size:auto;
		background-position: 97% 104%;
		padding-right:20%;
		width: 95%;
	}
	.call div{
		vertical-align:middle;
		text-align:center;
		flex-grow:3;
	}
	.call div:last-child{
		border:none;
	}
	.sign{
			flex-grow:0 !important;
			flex-basis:170px;
			a{
				width:36px;
				height:36px;
				display:inline-block;
				width: 36px;
				height: 36px;
				background: url($sprite) no-repeat -1px -103px;
				float:left;
			*{
				font-size:0 !important;
			}
		}
		ul{
			// float:left;
			width:36px;
			margin:0 auto !important;
			li{
				margin:0;
				float:left;
			}
		}
	}
	.sign ul>li:last-child{
		display:none;
	}
	.container{
		width:81.40625%;
	}
	.main_slider{
		margin:0 0 10%;
	}
	.container .left,
	.container .right{
		width:100%;
		float:none;
	}
	.container .right:before{
		content: '';
		position: absolute;
		top:0;
		right: 100%;
		background: #f2f2f2;
		width:100%;
		height:100%;
		z-index: 1;
	}
	.price:before{
		content:'';
	    position: absolute;
	    top: 0;
	    right: 100%;
	    height: 100%;
	    width: 100%;
	    background: #eaeaea;
	    z-index: 2;
	}
	.item_options .clearfix>.left .tooltip_holder{
		width: 95%;
		padding:0 5% 4% 0;
	}
	.price .clearfix>div:first-child .price_count,
	.price .clearfix>div:last-child div:first-child{
		max-width:521px;
		margin: 0 auto 4%;
	}
	.price .clearfix>div{
		padding:0 !important;
	}
	.price .clearfix>div:last-child div:first-child{
		padding:28px 0;
	}
	.item_options .right .measurement_btn{
		border-width:4px;
		max-width:521px;
	}
	.ui-spinner-down, .ui-spinner-up{
		width:22px;
		height:22px;
	}
	.item_options .clearfix>.left .tooltip_holder input{
		width:40px;
		height:40px;
		background-position: -1px -321px;
	}
	.ui-spinner-up{
		background-position: -27px -48px!important;
	}
	.ui-spinner-down{
		background-position: -51px -48px!important;
	}
	.spinner_cust.ui-spinner-input,
	.ui-spinner.ui-corner-all.ui-widget.ui-widget-content{
		width:100% !important;
		max-width:200px;
	}
	.same_prod{
		position:relative;
		margin:0 0 10%;
	}
	.slider_holder{
		width:430px;
	}
	.slider_holder li{
		width:430px !important;
	    max-width: 430px;
	    .img_holder{
	    	width:100%;
	    	img{
	    		width:100%;
	    	}
	    }
	}
	.bx-controls .bx-pager-item{
		margin:0 5%;
	}
	.bx-controls .bx-pager-item>a{
		width:12px;
		height:12px;
	}
	.pager3{
		bottom:auto !important;
		top:0% !important;
		margin:0 !important;
	}
	.pager2{
		bottom:5% !important;
	}
	.slider_holder_bef li{
		width: 430px !important;
		max-width: 430px;
	}
	.slider_holder_bef{
		max-width:430px;
	}
	.slider_holder_bef li .img_holder img{
		width:226px !important;
		max-width: 224px;
	}
	.slider_holder_bef li .desc_sl{
		flex-basis: 100px;
	}
	.item_title .details>ul>li:last-child .rating li{
		width:24px;
		height: 24px;
		background-position: -55px -270px;
	}
	.item_title .details>ul>li:last-child a{
		margin:0;
	}
	.item_title .details>ul>li:last-child .rating li.rate{
		background-position: -55px -243px;
	}
	.item_title .details>ul>li:last-child .rating{
		margin:3px 0 0;
	}
	.item_title .details>ul>li{
		margin: 3px 0 !important;
	}
}


@media only screen and (max-width : 657px) {
	.sign{
		flex-basis:105px;
	}
	.up_header .info_menu{
		flex-basis:143px;
	}
}


@media only screen and (max-width : 320px) {

}